body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* 导航栏样式 */
nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
            to right,
            rgba(34, 139, 34, 0.3),  /* 森林绿 */
            rgba(34, 139, 34, 0.5),  /* 森林绿 */
            rgba(34, 139, 34, 0.3) /* 森林绿 */
    );
    padding: 15px 20px;
    border-radius: 30px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-family: "Al Tarikh", "Arial", sans-serif;
}

/* 鼠标悬停效果 */
nav a:hover {
    background-color: rgba(34, 139, 34, 0.6);
}

/* 激活状态样式 */
nav a.active {
    background-color: rgba(34, 139, 34, 0.2);
    font-weight: bold;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group button {
    background: linear-gradient(
            to right,
            rgba(34, 139, 34, 0.3),  /* 森林绿 */
            rgba(34, 139, 34, 0.5),  /* 森林绿 */
            rgba(34, 139, 34, 0.3) /* 森林绿 */
    );
    color: white;
    border: none;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #cceece;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
table th, table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
}
table th {
    background-color: #f4f4f4;
}